<!DOCTYPE html>
<html lang="pl-PL">

{% load static %}

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"  />
    </head>



    <body>
    <nav>
        <label class="logo">Easy Cook</label>
        <input type="image" id="drop_menu" name="drop_menu" src="{% static 'assets/icons/1046747.png' %}" width="70" height="80" alt="text">
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Sign in</a></li>
        </ul>

    </nav>
    <p> Hello world !</p>
    {% block content %}
    {% endblock %}
    </body>
</html>
